package com.danidemi.test;

public enum Country {

    #foreach( $row in $source.rows )
        /**
        * Item #${row.meta.count} of ${source.rows.size()}.
        */
        ${row.data.Country.replace(' ','_')}("${row.data.Code}", "${row.data.Continent}")#if( ${row.meta.count} == ${source.rows.size()} );#else,#end

    #end
    
    private final String name;
    private final String continent;

    Country(String name, String continent){
        this.name = name;
        this.continent = continent;
    }

}