package com.danidemi.test;

public enum Country {

    #foreach( $row in $context.data.rows )
        ${row.data.Country}("${row.data.Code}", "${row.data.Continent}"),
    #end
    
    private final String name;
    private final String continent;

    Country(String name, String continent){
        this.name = name;
        this.continent = continent;
    }

}